export DESTINATION="aquariumpi.local"
export MIX_TARGET="rpi0"
export MIX_ENV="prod"
export PHOENIX_SECRET_KEY_BASE="***CHANGEME***"
export SENSOR_DEVICE_ID="011831688cff"
export INFLUXDB_URL="***CHANGEME***"
export INFLUXDB_CREDENTIALS="***CHANGEME***"
export INFLUXDB_DB="aquarium"
export INFLUXDB_MEASUREMENT="temperature"

# WiFi configuration
export NERVES_NETWORK_SSID="***CHANGEME***"
export NERVES_NETWORK_PSK="***CHANGEME***"
