export DESTINATION="aquariumpi.local"
export MIX_TARGET="rpi0"
export MIX_ENV="prod"
export PHOENIX_URL_HOST="***CHANGEME***"
export PHOENIX_URL_SCHEME="https"
export PHOENIX_URL_PORT="443"
export PHOENIX_SECRET_KEY_BASE="***CHANGEME***"
export SENSOR_DEVICE_ID="011831688cff"
export INFLUXDB_URL="***CHANGEME***"
export INFLUXDB_CREDENTIALS="***CHANGEME***"
export INFLUXDB_DB="aquarium"
export INFLUXDB_MEASUREMENT="temperature"
export SENTRY_DSN="***CHANGEME***"

# WiFi configuration
export NERVES_NETWORK_SSID="***CHANGEME***"
export NERVES_NETWORK_PSK="***CHANGEME***"

# LCD pin configuration
export LCD_PIN_RS=0
export LCD_PIN_EN=5
export LCD_PIN_D4=6
export LCD_PIN_D5=13
export LCD_PIN_D6=19
export LCD_PIN_D7=26
export LCD_PIN_BACKLIGHT_BUTTON=22
export LCD_PIN_BACKLIGHT=27
